.App {
  text-align: center;
  color: #fff !important;
}

/* src/components/Calculator.css */
.container {
  max-width: 50% !important;
  margin: 3rem auto;
  padding: 1rem 1.5rem 2rem 1.5rem;
  border: 0.4em solid #a8a3a3;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgb(156 146 146 / 10%);
  color: #ccc;
  background-color: #4c526b;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0.8rem !important;
}
input {
  color: #fff !important;
}
body {
  display: grid;
  place-items: center;
}

.main__bg {
  background-image: linear-gradient(-60deg, #404258 50%, #6b728e 50%);
  animation: slide 3s ease-in-out infinite alternate;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -50%;
  right: -50%;
  opacity: 0.5;
  z-index: -1;
}

.layer1 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.layer2 {
  animation-duration: 5s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

.title {
  margin-bottom: 20px !important;
  text-align: center;
  color: #fff;
  font-weight: 800;
}

.css-9npbnl-MuiFormLabel-root-MuiInputLabel-root {
  color: #fff !important;
  float: left;
  font-weight: 500;
  font-size: 1.1rem;
}
label {
  color: #fff;
}
.switchLabel {
  float: left;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root.Mui-disabled,
.css-1d3z3hw-MuiOutlinedInput-notchedOutline > span {
  color: #fff !important;
  font-size: 0.8rem !important;
}
.inputField {
  margin-bottom: 10px !important;
  margin-top: 1rem !important;
}
.inputField label {
  color: #fff;
  font-size: 0.8rem;
  line-height: 1.4rem;
}
fieldset.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #818082 !important;
  border-width: 0.1rem !important;
}
fieldset.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline:hover {
  border-width: 0.2rem !important;
}

.selectField {
  margin-bottom: 10px;
  margin-top: 1rem;
}
legend span,
.css-14lo706 > span,
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused,
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root.Mui-disabled,
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-disabled,
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #fff !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
  opacity: 1;
  -webkit-text-fill-color: #fff !important;
}
.disabledField {
  margin-bottom: 20px;
}
.menuItem {
  color: black !important;
  font-size: 0.8rem !important;
  font-weight: 700 !important;
  line-height: 1.2;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
